---
import { changeLanguage } from "i18next";
import Base from "../../../layouts/Base.astro";
import ProjectCard from "../../../components/ProjectCard.astro";



changeLanguage("es");


const projects = [

  {
    title: "ogeid.stats",
    year: "Septiembre 2021",
    description: "Trabajo de ciencia de datos sobre data del Gobierno del Perú. Puedes encontrar gráficos sobre, por ejemplo, las tendencias en uso del internet a nivel rural y urbano en el Perú.",
    repoUrl: "https://ogeid26.github.io/blog/",
  },
  {
    title: "Dotfiles",
    year: "Mayo 2020",
    description: "Mis archivos de configuración de Linux.",
    repoUrl: "https://github.com/ogeid26/dotfiles"
  },
  {
    title: "Digitalizacion de apuntes de lógica",
    year:  "Septiembre 2019",
    description: "Disponible en LaTeX. Texto original de la Gustavo Bitocchi, de la materia Lógica de la Universidad Austral.",
    repoUrl: "https://github.com/ogeid26/logica"
  },

  {
      title: "Space Invaders",
      year: "Noviembre 2018",
      description: "Implementación del clásico juego Space Invaders en Java.",
      repoUrl: "https://github.com/ogeid26/Space-Invaders"
  },
];
const title = "Projects";
const description = "My Projects";


---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Proyectos</h1>
    <div class="space-y-6">
      {
        projects.map((project, index) => (
            <ProjectCard
                project={project}
                showButtonLeft={project.projectUrl}
                showButtonRight={project.repoUrl}
                images={project.images}
            />
        ))
      }
    </div>
  </section>
</Base>
