---
import { changeLanguage } from "i18next";
import Base from "../../../layouts/Base.astro";
import   ProjectCard from "../../../components/ProjectCard.astro";



changeLanguage("es");


const projects = [
  {
    title: "MiConejo",
    year: "Noviembre 2024",
    description: "Aplicación para Android dedicada a brindarle cuidados a tu conejito.",
    repoUrl: "https://github.com/ogeid26/miconejo",
    techStack: ["Kotlin", "Android", "JetPack Compose"]
  },
  {
    title: "TelgoPlane",
    year: "Octubre 2024",
    description: "Plandeador propulsado por servomotores y una placa ESP32.",
    techStack: ["C++", "Arduino"],
    repoUrl: "https://github.com/ogeid26/grupaso-repo"
  },
  {
    title: "Séptimo Piso Landing Page",
    year: "Agosto 2023",
    description: "Ptimera página web de la productora Séptimo Piso.",
    techStack: ["HTML", "CSS", "Astro"],
    repoUrl: "https://github.com/ogeid26/7p-reup",
    images: [
      {
        src: "/photos/7p-1.png",
        alt: "Septimo Piso landing page"
      },

    ]
  },

  {
    title: "IP Detector",
    year: "Junio 2023",
    description: "Herramienta sencilla para detectar tu IP.",
    repoUrl: "https://github.com/ogeid26/ip-detector",
    projectUrl: "https://ogeid-ip-finder.netlify.app/",
    techStack:["HTML", "CSS", "JavaScript"],
    images: [
      {
        src: "/photos/ogeid-ip1.png",
        alt: "Roman columns"
      },
      {
        src: "/photos/ogeid-ip2.png",
        alt: "Roman columns"
      }
    ]
  },

  {
    title: "ogeid.stats",
    year: "Mayo 2023",
    description: "Trabajo de ciencia de datos sobre data del Gobierno del Perú. Puedes encontrar gráficos sobre, por ejemplo, las tendencias en uso del internet a nivel rural y urbano en el Perú.",
    repoUrl: "https://ogeid26.github.io/blog/",
    techStack: ["R", "ggplot2", "dplyr"],
    images: [
      {
        src: "/photos/ogeid-web1.png",
        alt: "Roman columns"
      },
      {
        src: "/photos/ogeid-web2.png",
        alt: "Roman columns"
      }
    ]
  },
  {
    title: "Dotfiles",
    year: "Mayo 2020",
    description: "Mis archivos de configuración de Linux. Incluye configuraciones para Vim, zsh, tmux, y más.",
    repoUrl: "https://github.com/ogeid26/dotfiles",
    techStack: ["Shellscript", "Ubuntu"],
    images: [
      {
        src: "/photos/dotfiles-1.png",
        alt: "Roman columns"
      },
      {
        src: "/photos/dotfiles-2.png",
        alt: "Roman columns"
      }
    ]
  },
  {
    title: "Apuntes de lógica",
    year:  "Septiembre 2019",
    description: "Digitalización de apuntes de lógica. Disponible en LaTeX. Texto original de Gustavo Bitocchi (1999), de la materia Lógica de la Universidad Austral.",
    repoUrl: "https://github.com/ogeid26/logica"
  },

  {
      title: "Space Invaders",
      year: "Noviembre 2018",
      description: "Implementación del clásico juego Space Invaders en Java.",
      repoUrl: "https://github.com/ogeid26/Space-Invaders",
    techStack: ["Java"],
      images: [{
        src: "/photos/space-invaders-1.jpg",
        alt: "Roman columns"
      }

      ]

  },
];
const title = "Projects";
const description = "My Projects";


---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Proyectos</h1>
    <div class="space-y-6">
      {
        projects.map((project, index) => (
            <ProjectCard
                project={project}
                showButtonLeft={project.projectUrl}
                showButtonRight={project.repoUrl}
                images={project.images}
            />
        ))
      }
    </div>
  </section>
</Base>
